@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Judson&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot?dsjsia");
  src: url("../font/icomoon.eot?dsjsia#iefix") format("embedded-opentype"),
    url("../font/icomoon.ttf?dsjsia") format("truetype"),
    url("../font/icomoon.woff?dsjsia") format("woff"),
    url("../font/icomoon.svg?dsjsia#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e911";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-soundcloud:before {
  content: "\eac3";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #030404;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.hide {
  visibility: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media only screen and (max-width: 961px) {
  .container {
    width: 720px;
  }
}
@media only screen and (max-width: 721px) {
  .container {
    width: 480px;
  }
}
@media only screen and (max-width: 481px) {
  .container {
    width: 80%;
  }
}

/* NOISE
=========================== */
.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("../img/noise.jpg") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.2;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

/* flickity
=========================== */
.flickity-button {
  background: #13cb39 !important;
}
.flickity-button:hover {
  background: black !important;
}

.flickity-prev-next-button {
  width: 32px !important;
  height: 32px !important;
  border-radius: 5px !important;
}
/* icon color */
.flickity-button-icon {
  fill: white !important;
}

@media only screen and (max-width: 721px) {
  .flickity-button {
    display: block;
  }
  .flickity-prev-next-button {
    width: 16px !important;
    height: 16px !important;
  }
}

/* NAVIGATIONS
=========================== */
.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 8px 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
}

.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  order: 1;
}

.logo h1 {
  order: 2;
  color: white;
  margin-left: 8px;
  font-family: "Judson", serif;
  font-weight: lighter;
  font-style: italic;
  color: #ccc;
  font-size: 1.5vw;
}

.logo h1 span {
  color: #13cb39;
}

@media only screen and (max-width: 961px) {
  .logo h1 {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 481px) {
  .logo h1 {
    font-size: 3vw;
  }
}

.top-navigation i img {
  background-size: cover;
  width: 36px;
  height: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 961px) {
  .top-navigation i img {
    width: 28px;
  }
}
@media only screen and (max-width: 481px) {
  .top-navigation i img {
    width: 24px;
  }
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-menu button {
  font-size: 18px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 481px) {
  .hamburger-menu button {
    font-size: 14px;
  }
}

.hamburger-menu buttoN span {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
@media only screen and (max-width: 481px) {
  .hamburger-menu buttoN span {
    font-size: 10px;
  }
}

/* OFF CANVAS
=========================== */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  z-index: 999;
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.addWidth {
  width: 100%;
}

/* SECTIONS & ANIMATIONS
=========================== */
.wrapper {
  width: 100% !important;
  transform: none !important;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.7s ease-in-out;
}

.section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

/* INTRO SECTION
=========================== */
.intro {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
} */

.flex-fiftyfifty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .flex-fiftyfifty {
    display: flex;
    flex-direction: column;
  }
}

.flex-fiftyfifty .content {
  width: 70%;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .flex-fiftyfifty .content {
    width: 100%;
    text-align: center;
    order: 2;
    margin-top: 16px;
  }
}

.intro h1 {
  font-size: 0 !important;
  visibility: hidden;
}

.intro h3 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  color: #f5eded;
  font-size: 6vw;
  overflow: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .intro h3 {
    font-size: 8vw;
  }
}

.intro h3 span {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #13cb39;
}

.intro h2 {
  font-family: "Judson", serif;
  font-weight: lighter;
  font-style: italic;
  color: #ccc;
  font-size: 4.5vw;
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  .intro h2 {
    font-size: 5.5vw;
  }
}

.intro picture {
  width: 30%;
}

@media only screen and (max-width: 1200px) {
  .intro picture {
    width: 30%;
  }
}
@media only screen and (max-width: 961px) {
  .intro picture {
    width: 45%;
  }
}
@media only screen and (max-width: 481px) {
  .intro picture {
    width: 80%;
  }
}

.intro picture img {
  border-radius: 50%;
  max-width: 100%;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.image-active {
  filter: grayscale(0) !important;
  transition-duration: 10s;
  -webkit-animation: rotating 1s linear;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* SVG PART */
.multiplicationsign1 {
  position: absolute;
  top: 30%;
  left: 30%;
}
.multiplicationsign1 svg {
  width: 70px;
  height: auto;
  fill: #13cb39;
}

.multiplicationsign2 {
  position: absolute;
  bottom: 20%;
  right: 45%;
}
.multiplicationsign2 svg {
  width: 50px;
  height: auto;
  fill: #13cb39;
}

.multiplicationsign3 {
  position: absolute;
  top: 10%;
  right: 5%;
}
.multiplicationsign3 svg {
  width: 30px;
  height: auto;
  fill: #13cb39;
}

.multiplicationsign4 {
  position: absolute;
  top: 55%;
  right: 40%;
}
.multiplicationsign4 svg {
  width: 20px;
  height: auto;
  fill: white;
}

.multiplicationsign5 {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.multiplicationsign5 svg {
  width: 30px;
  height: auto;
  fill: white;
}

.multiplicationsign6 {
  position: absolute;
  bottom: 30%;
  right: 10%;
}
.multiplicationsign6 svg {
  width: 30px;
  height: auto;
  fill: white;
}

@media only screen and (max-width: 481px) {
  .svgs {
    display: none;
  }
}

.curly-line {
  position: absolute;
  bottom: 20%;
  right: -5%;
}
.curly-line svg {
  width: 420px;
  height: auto;
  fill: white;
}

@media only screen and (max-width: 1200px) {
  .curly-line {
    position: absolute;
    top: 40%;
    bottom: auto;
    right: 30%;
  }
}
@media only screen and (max-width: 721px) {
  .curly-line {
    display: none;
  }
}

.intro-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}

@media only screen and (max-width: 1200px) {
  .intro-links {
    justify-content: center;
  }
}

.intro-links li {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  font-size: 1.6vw;
  margin-right: 8px;
}

@media only screen and (max-width: 721px) {
  .intro-links li {
    font-size: 2vw;
  }
}

.intro-links li::after {
  content: "/";
  margin-left: 8px;
}

.intro-links li a {
  color: #13cb39;
  padding: 8px;
}

.intro-links li a:hover {
  color: #13cb39;
  background-color: black;
}

.intro-links li:last-child {
  margin-right: 0;
}

.intro-links li:last-child::after {
  content: none;
  margin-left: 0;
}

.intro-socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}

@media only screen and (max-width: 1200px) {
  .intro-socials {
    justify-content: center;
    margin-top: 16px;
  }
}

.intro-socials li {
  margin-right: 12px;
}

@media only screen and (max-width: 481px) {
  .intro-socials li {
    margin-right: 6px;
  }
}

.intro-socials li a {
  color: #13cb39;
  white-space: 0 !important;
  line-height: 0 !important;
  background-color: black;
  font-size: 1.2vw;
  padding: 8px;
  border-radius: 50%;
}

@media only screen and (max-width: 721px) {
  .intro-socials li a {
    font-size: 2vw;
  }
}

.intro-socials li a:hover {
  background-color: #13cb39;
  color: black;
}

/* WORKS SECTION
=========================== */
.works {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
}

.flex-works {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.works .content {
  width: 20%;
}

@media only screen and (max-width: 961px) {
  .flex-works {
    flex-direction: column;
  }
  .works .content {
    width: 100%;
    text-align: center;
  }
}

.works .content h2 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  color: #13cb39;
  font-size: 1.5vw;
  margin-bottom: 8px;
}

.works .content p {
  font-family: "Judson", serif;
  font-weight: lighter;
  font-style: italic;
  color: white;
  font-size: 1vw;
}

@media only screen and (max-width: 961px) {
  .works .content h2 {
    font-size: 3.5vw;
  }
  .works .content p {
    font-size: 2vw;
  }
}

.last_works {
  width: 80%;
  padding: 16px;
  box-sizing: border-box;
}

@media only screen and (max-width: 961px) {
  .last_works {
    width: 100%;
    padding: 0;
    margin-top: 16px;
  }
}

.main-carousel {
  display: block;
  padding: 8px 0;
  box-sizing: border-box;
  width: 100%;
  height: auto !important;
}

.carousel-cell {
  width: 23.5%; /* full width */
  margin-right: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 721px) {
  .carousel-cell {
    width: 49%; /* full width */
  }
}
@media only screen and (max-width: 481px) {
  .carousel-cell {
    width: 60%; /* full width */
    margin-right: 2%;
  }
}

.carousel-cell picture img {
  width: 100%;
  height: auto;
  border-radius: 32px;
  filter: grayscale(100%);
  transition-duration: 2s;
}

.carousel-cell:hover img {
  filter: grayscale(0);
}

.carousel-cell h3 {
  font-family: "Judson", serif;
  font-weight: normal;
  font-style: italic;
  color: white;
  font-size: 1vw;
}

.date {
  display: block;
  font-family: "Judson", serif;
  font-weight: lighter;
  font-style: italic;
  color: gray;
  font-size: 1vw;
}

.buy-now {
  display: block;
  width: 100%;
}

.buy-now ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 4px;
}

.buy-now li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buy-now ul li em {
  font-family: "Judson", serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.7vw;
  background-color: #13cb39;
  color: black;
  padding: 2px 4px;
}

@media only screen and (max-width: 961px) {
  .buy-now ul li em {
    font-size: 1.4vw;
  }
}

.buy-now ul li i {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.buy-now ul li a,
.buy-now ul li {
  color: #13cb39;
  position: relative;
}

.buy-now ul li a:hover {
  color: white;
}

@media only screen and (max-width: 721px) {
  .carousel-cell h3 {
    font-size: 3vw;
  }
  .date {
    font-size: 2.2vw;
  }
}
@media only screen and (max-width: 481px) {
  .carousel-cell h3 {
    font-size: 3vw;
  }
  .date {
    font-size: 2vw;
  }
}

.make-it-active {
  -webkit-text-fill-color: #13cb39 !important;
  color: #13cb39 !important;
}

/* FEATURED SECTION
=========================== */
.featured {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

/* .featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: url("../img/crimson_flower-1440x900.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.flex-featured {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 721px) {
  .flex-featured {
    flex-direction: column;
  }
}

.featured .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 721px) {
  .featured .content {
    width: 100%;
  }
}

.featured .content h3 {
  display: inline-block;
  font-family: "Judson", serif;
  font-style: italic;
  font-size: 1.4vw;
  letter-spacing: 4px;
  padding: 8px;
  background-color: #13cb39;
  margin-top: 8px;
  text-align: center;
  order: 2;
  opacity: 0.5;
}

@media only screen and (max-width: 721px) {
  .featured .content h3 {
    font-size: 3.4vw;
  }
}

.featured-stuff {
  width: 40%;
}

@media only screen and (max-width: 721px) {
  .featured-stuff {
    width: 30%;
  }
}
@media only screen and (max-width: 481px) {
  .featured-stuff {
    width: 80%;
  }
}

.curly-line-2 {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.curly-line-2 svg {
  width: 220px;
  height: auto;
  fill: white;
}

@media only screen and (max-width: 961px) {
  .curly-line-2 {
    bottom: 5%;
  }
}

.curly-line-3 {
  position: absolute;
  bottom: 30%;
  left: 10%;
}
.curly-line-3 svg {
  width: 280px;
  height: auto;
}

@media only screen and (max-width: 721px) {
  .curly-line-3 {
    bottom: 50%;
    left: 10%;
  }
  .curly-line-3 svg {
    width: 180px;
  }
}
@media only screen and (max-width: 481px) {
  .curly-line-2 {
    bottom: 5%;
  }
  .curly-line-2 svg {
    width: 160px;
  }
  .curly-line-3 {
    display: none;
  }
}

.curly-line-4 {
  position: absolute;
  top: 20%;
  right: 5%;
}
.curly-line-4 svg {
  width: 360px;
  height: auto;
}

@media only screen and (max-width: 721px) {
  .curly-line-4 svg {
    width: 160px;
  }
}
@media only screen and (max-width: 481px) {
  .curly-line-4 {
    display: none;
  }
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
#countdown li {
  display: inline-block;
  font-size: 1.5vw;
  list-style-type: none;
  padding: 1em;
  font-family: "Judson", serif;
  text-transform: uppercase;
  text-align: center;
  color: #13cb39;
  font-style: italic;
}
@media only screen and (max-width: 721px) {
  #countdown li {
    font-size: 3vw;
  }
}
#countdown li span {
  font-family: "Judson", serif;
  display: block;
  font-size: 5.5vw;
  color: white;
}

.featured picture {
  display: block;
  width: 100%;
  padding: 4%;
  box-sizing: border-box;
}

.featured picture img {
  height: auto;
  max-width: 100%;
  opacity: 0.5;
}

/* NEW RELEASE SECTION
=========================== */
.new-release {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.flex-newRelease {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 481px) {
  .flex-newRelease {
    flex-direction: column;
  }
}

.new-release .content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 961px) {
  .new-release .content {
    width: 60%;
  }
}
@media only screen and (max-width: 481px) {
  .new-release .content {
    width: 100%;
  }
}

.album-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 961px) {
  .album-info {
    width: 40%;
  }
}
@media only screen and (max-width: 481px) {
  .album-info {
    width: 100%;
  }
}
.album-info picture {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}
@media only screen and (max-width: 481px) {
  .album-info picture {
    display: none;
  }
}
.album-info picture img {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.album-info picture img:hover {
  opacity: 1;
}
.album-info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.album-info ul li h6 {
  font-family: "Judson", serif;
  font-style: italic;
  color: #13cb39;
  font-size: 1vw;
}
.album-info ul li a {
  font-family: "Judson", serif;
  font-style: italic;
  color: white;
  font-size: 1vw;
  background-color: black;
  padding: 4px 8px;
  transition: all 0.3s ease-in-out;
}
.album-info ul li a:hover {
  color: black;
  background-color: #13cb39;
}
@media only screen and (max-width: 961px) {
  .album-info ul li h6 {
    font-size: 1.2vw;
  }
  .album-info ul li a {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 481px) {
  .album-info ul li h6 {
    font-size: 3.2vw;
  }
  .album-info ul li a {
    font-size: 3.2vw;
  }
}

.new-release .content h2 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  color: #13cb39;
  letter-spacing: -3px;
  font-size: 3.5vw;
  overflow: hidden;
}
@media only screen and (max-width: 481px) {
  .new-release .content h2 {
    font-size: 6.5vw;
    letter-spacing: -2px;
  }
}

.new-release .content span {
  display: inline-block;
  font-family: "Judson", serif;
  font-style: italic;
  color: white;
  letter-spacing: -3px;
  font-size: 3vw;
  overflow: hidden;
  margin-top: -30px;
}
@media only screen and (max-width: 961px) {
  .new-release .content span {
    margin-top: -10px;
  }
}
@media only screen and (max-width: 481px) {
  .new-release .content span {
    font-size: 6vw;
    margin-top: -3px;
    letter-spacing: -1px;
  }
}
.new-release .content ul {
  width: 100%;
  box-sizing: border-box;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 481px) {
  .new-release .content ul {
    padding: 0;
    margin-top: 16px;
  }
}

.new-release .content li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #13cb3844;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.new-release .content li:last-child {
  border-bottom: none;
}
/* .new-release .content li h5::before {
  content: "-";
  font-weight: bolder;
  color: #13cb39;
  margin-right: 8px;
} */
.new-release .content li h5 {
  font-family: "Judson", serif;
  font-weight: lighter;
  color: white;
  font-size: 1.5vw;
  letter-spacing: 2px;
  order: 2;
}
@media only screen and (max-width: 481px) {
  .new-release .content li h5 {
    font-size: 4.5vw;
  }
}
.new-release .content li .details {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
}
.new-release .content li .details i {
  order: 1;
  text-align: center;
  background-color: #13cb39;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Judson", serif;
  font-weight: lighter;
  font-size: 0.8vw;
  padding: 4px 8px;
  box-sizing: border-box;
  margin-right: 16px;
}
.new-release .content li .details i .day {
  font-size: 1.3vw;
  font-weight: bolder;
}
@media only screen and (max-width: 961px) {
  .new-release .content li .details i {
    font-size: 1.2vw;
  }
  .new-release .content li .details i .day {
    font-size: 2.3vw;
  }
}
@media only screen and (max-width: 481px) {
  .new-release .content li .details i {
    font-size: 2.2vw;
  }
  .new-release .content li .details i .day {
    font-size: 3.3vw;
  }
}

.social-links a i {
  font-size: 18px;
  margin-left: 8px;
}
.social-links a {
  color: #13cb39;
  position: relative;
}
.social-links a:hover {
  color: white;
}
@media only screen and (max-width: 721px) {
  .social-links a i {
    font-size: 14px;
    margin-left: 4px;
  }
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #13cb39;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: "Judson", serif;
  font-weight: lighter;
  color: black;
  font-size: 0.9vw;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 185%;
  left: 50%;
  margin-left: -45px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

@media only screen and (max-width: 1200px) {
  .tooltiptext {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 721px) {
  .tooltiptext {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 481px) {
  .tooltiptext {
    font-size: 2.2vw;
  }
}

.latest-release ul li a .tooltiptext {
  bottom: 125%;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #13cb39 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.social-links a:hover .tooltiptext,
.buy-now ul li a:hover .tooltiptext,
.latest-release ul li a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ABOUT ME SECTION
=========================== */
.about-me {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: url("../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 400px #000000;
}

.flex-aboutMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 481px) {
  .flex-aboutMe {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.about-me picture {
  width: 30%;
  padding: 2%;
  box-sizing: border-box;
}

@media only screen and (max-width: 721px) {
  .about-me picture {
    display: none;
  }
}

.about-me picture img {
  max-width: 100%;
  height: auto;
  border: 4px solid #13cb39;
  opacity: 0.8;
}

.aboutme-content {
  width: 35%;
}

@media only screen and (max-width: 721px) {
  .aboutme-content {
    width: 65%;
    box-sizing: border-box;
    padding-right: 3%;
  }
}
@media only screen and (max-width: 481px) {
  .aboutme-content {
    width: 100%;
    padding-right: 0;
  }
}

.aboutme-content h3 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  font-size: 1.4vw;
  letter-spacing: -1px;
  color: #13cb39;
}

@media only screen and (max-width: 961px) {
  .aboutme-content h3 {
    font-size: 1.5vw;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 721px) {
  .aboutme-content h3 {
    font-size: 2.5vw;
    letter-spacing: -1px;
  }
}
@media only screen and (max-width: 481px) {
  .aboutme-content h3 {
    font-size: 4.5vw;
    letter-spacing: -1px;
  }
}

.aboutme-content h4 {
  font-family: "Judson", serif;
  font-style: italic;
  font-size: 1.2vw;
  letter-spacing: -1px;
  color: white;
  margin-top: -12px;
}

@media only screen and (max-width: 1200px) {
  .aboutme-content h4 {
    margin-top: -5px;
  }
}
@media only screen and (max-width: 961px) {
  .aboutme-content h4 {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 721px) {
  .aboutme-content h4 {
    font-size: 2.3vw;
    letter-spacing: -1px;
  }
}
@media only screen and (max-width: 481px) {
  .aboutme-content h4 {
    font-size: 4.3vw;
    letter-spacing: -1px;
    margin-top: -8px;
  }
}

.aboutme-content p {
  font-family: "Judson", serif;
  font-size: 1.08vw;
  color: white;
  margin-top: 8px;
}

@media only screen and (max-width: 961px) {
  .aboutme-content p {
    font-size: 1.3vw;
  }
}
@media only screen and (max-width: 721px) {
  .aboutme-content p {
    font-size: 1.9vw;
  }
}
@media only screen and (max-width: 481px) {
  .aboutme-content p {
    font-size: 2.9vw;
  }
}

.about-me-logo {
  width: 100%;
  text-align: right;
  margin: 16px 0;
}

.about-me-logo img {
  width: 64px;
  height: auto;
  /* margin-right: 32px; */
  user-select: none;
}

@media only screen and (max-width: 1200px) {
  .about-me-logo img {
    width: 48px;
  }
}
@media only screen and (max-width: 961px) {
  .about-me-logo img {
    width: 36px;
  }
}
@media only screen and (max-width: 481px) {
  .about-me-logo img {
    width: 24px;
  }
}

.contact-me {
  width: 35%;
  box-sizing: border-box;
}

@media only screen and (max-width: 481px) {
  .contact-me {
    width: 100%;
    box-sizing: border-box;
  }
}

.contact-me h3 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  font-size: 1.4vw;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 16px;
  border-bottom: 1px solid #13cb39;
  display: inline-block;
  padding-bottom: 4px;
}

@media only screen and (max-width: 961px) {
  .contact-me h3 {
    font-size: 1.5vw;
    letter-spacing: 0px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 481px) {
  .contact-me h3 {
    font-size: 3.5vw;
    letter-spacing: 0px;
    margin-bottom: 10px;
  }
}

.contact-me form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-me form .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 8px;
}

.contact-me form .field label {
  font-family: "Judson", serif;
  font-style: italic;
  font-size: 0.9vw;
  color: #13cb39;
}

@media only screen and (max-width: 961px) {
  .contact-me form .field label {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 481px) {
  .contact-me form .field label {
    font-size: 3.2vw;
  }
}

.contact-me form .field input,
.contact-me form .field textarea {
  width: 100%;
  border: 1px solid #13cb39;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 8px;
}
@media only screen and (max-width: 481px) {
  .contact-me form .field input,
  .contact-me form .field textarea {
    padding: 3px;
  }
}

.contact-me form .field textarea {
  height: 64px;
}

@media only screen and (max-width: 481px) {
  .contact-me form .field textarea {
    height: 48px;
  }
}

.contact-me form .submit {
  background-color: #13cb39;
  color: black;
  border: 1px solid #13cb39;
  outline: 0;
  padding: 8px 16px;
  cursor: pointer;
}

@media only screen and (max-width: 481px) {
  .contact-me form .submit {
    padding: 4px 8px;
  }
}

.contact-me form .submit:hover {
  background-color: black;
  border: 1px solid #13cb39;
  color: #13cb39;
}

.about-me ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

@media only screen and (max-width: 721px) {
  .about-me ul {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 481px) {
  .about-me ul {
    justify-content: space-between !important;
  }
}

.about-me ul li {
  margin-right: 64px;
  font-family: "Archivo Black", sans-serif;
  font-size: 1.6vw;
}

.about-me ul li span {
  margin-right: 8px;
}

@media only screen and (max-width: 721px) {
  .about-me ul li {
    margin-right: 0;
  }
  .about-me ul li a {
    font-size: 2vw;
  }
  .about-me ul li span {
    margin-right: 2px;
  }
}
@media only screen and (max-width: 481px) {
  .about-me ul li a {
    font-size: 1.6vw;
  }
}

.about-me ul li a {
  color: #13cb39;
}

.about-me ul li a:hover {
  color: white;
}

.about-me ul li:last-child {
  margin-right: 0;
}

.redwolf {
  position: absolute;
  bottom: 0.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;
}

@media only screen and (max-width: 481px) {
  .redwolf {
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.redwolf a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.redwolf a span {
  font-family: "Judson", serif;
  font-weight: lighter;
  color: #13cb39;
  font-size: 1.5vw;
  padding-left: 8px;
  display: none;
  transition: 0.3s;
}

.redwolf svg {
  width: 42px;
  height: auto;
  fill: #13cb39;
}

@media only screen and (max-width: 721px) {
  .redwolf svg {
    width: 28px;
    height: auto;
    fill: #13cb39;
  }
}

.st0 {
  fill: #13cb39;
  transition: 1s;
}
.st1 {
  fill: #13cb39;
  transition: 0.3s;
}

.redwolf:hover .st0 {
  fill: red;
}

.redwolf:hover .st1 {
  fill: #ccc;
}

.redwolf:hover a span {
  display: inline-block;
}

.redwolf:hover {
  background-color: black;
}

#buzzer {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* LATEST RELEASE
=========================== */
.latest-release {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.latestRelease-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 481px) {
  .latestRelease-flex {
    flex-direction: column;
  }
}

.latest-release::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background: url("../img/lastone-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-release .content {
  width: 70%;
  box-sizing: border-box;
  padding: 3%;
}
@media only screen and (max-width: 721px) {
  .latest-release .content {
    width: 100%;
    padding: 0%;
  }
}
@media only screen and (max-width: 481px) {
  .latest-release .content {
    width: 100% !important;
    padding: 0% !important;
    order: 2;
  }
}

.latest-release .content h2 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  color: #13cb39;
  letter-spacing: -3px;
  font-size: 3.5vw;
  overflow: hidden;
}
@media only screen and (max-width: 721px) {
  .latest-release .content h2 {
    font-size: 6.5vw;
    letter-spacing: -2px;
  }
}
@media only screen and (max-width: 481px) {
  .latest-release .content h2 {
    font-size: 6.5vw;
    letter-spacing: -2px;
    text-align: center;
  }
}

.latest-release .content span {
  display: inline-block;
  font-family: "Judson", serif;
  font-style: italic;
  color: white;
  letter-spacing: -3px;
  font-size: 3vw;
  overflow: hidden;
  margin-top: -30px;
}
@media only screen and (max-width: 961px) {
  .latest-release .content span {
    margin-top: -10px;
  }
}
@media only screen and (max-width: 721px) {
  .latest-release .content span {
    letter-spacing: -1px;
    font-size: 5vw;
    margin-top: -30px;
  }
}
@media only screen and (max-width: 481px) {
  .latest-release .content span {
    font-size: 6vw;
    margin-top: -3px;
    letter-spacing: -1px;
    text-align: center;
    display: block;
  }
}

.spotify-content {
  width: 100%;
  margin-top: 32px;
  box-sizing: border-box;
  border: 3px solid #13cb39;
}

.spotify-content,
.spotify-content iframe {
  width: 100%;
  display: block;
}

.latest-release ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
}
@media only screen and (max-width: 961px) {
  .latest-release ul {
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
  }
}
.latest-release ul li h6 {
  font-family: "Judson", serif;
  font-style: italic;
  color: #13cb39;
  font-size: 1.2vw;
}
.latest-release ul li i {
  margin-right: 4px;
  font-size: 1vw;
}
@media only screen and (max-width: 961px) {
  .latest-release ul li i {
    display: none;
    margin: 0;
  }
}
@media only screen and (max-width: 481px) {
  .latest-release ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .latest-release ul li em {
    display: block;
  }
  .latest-release ul li i {
    font-size: 4.5vw;
    display: inline-block;

    margin: 0 auto;
  }
  .latest-release ul li h6 {
    font-size: 3.6vw !important;
  }
}
.latest-release ul li a {
  position: relative;
  font-family: "Judson", serif;
  font-style: italic;
  color: #13cb39;
  font-size: 1.3vw;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}
@media only screen and (max-width: 961px) {
  .latest-release ul li a {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 721px) {
  .latest-release ul li h6 {
    font-size: 2.4vw !important;
  }
  .latest-release ul li a {
    font-size: 2.4vw;
  }
}
@media only screen and (max-width: 481px) {
  .latest-release ul li a {
    padding: 4px 8px;
    border-radius: 8px;
  }
}

.latest-release ul li a:hover {
  color: black;
  background-color: #13cb39;
}
@media only screen and (max-width: 961px) {
  .latest-release ul li h6 {
    font-size: 1.1vw;
  }
}

/* SVG PART */
.multiplicationsign7 {
  position: absolute;
  top: 30%;
  right: 30%;
}
.multiplicationsign7 svg {
  width: 70px;
  height: auto;
  fill: #13cb39;
}

.curly-line-5 {
  position: absolute;
  bottom: 20%;
  right: 5%;
}
.curly-line-5 svg {
  width: 360px;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .curly-line-5 {
    bottom: 30%;
    right: 3%;
  }
  .curly-line-5 svg {
    width: 260px;
  }
}
@media only screen and (max-width: 721px) {
  .curly-line-5 {
    bottom: 10%;
    left: 50% !important;
    transform: translate(0, -50%);
  }
  .curly-line-5 svg {
    width: 160px;
  }
}

.latestWork-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 961px) {
  .latestWork-info {
    width: 40%;
  }
}
@media only screen and (max-width: 721px) {
  .latestWork-info {
    width: 0;
    display: none;
  }
}
@media only screen and (max-width: 481px) {
  .latestWork-info {
    display: block;
    width: 40%;
    order: 1;
  }
}
.latestWork-info picture {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}
@media only screen and (max-width: 481px) {
  .latestWork-info picture img {
    opacity: 1 !important;
    border-radius: 50%;
    border: 4px solid #13cb39;
    margin-bottom: 16px;
  }
}
.latestWork-info picture img {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.latestWork-info picture img:hover {
  opacity: 1;
}
.latestWork-info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.latestWork-info ul li h6 {
  font-family: "Judson", serif;
  font-style: italic;
  color: #13cb39;
  font-size: 1vw;
}
.latestWork-info ul li a {
  font-family: "Judson", serif;
  font-style: italic;
  color: white;
  font-size: 1vw;
  background-color: black;
  padding: 4px 8px;
  transition: all 0.3s ease-in-out;
}
.latestWork-info ul li a:hover {
  color: black;
  background-color: #13cb39;
}
@media only screen and (max-width: 961px) {
  .latestWork-info ul li h6 {
    font-size: 1.2vw;
  }
  .latestWork-info ul li a {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 481px) {
  .latestWork-info ul li h6 {
    font-size: 3.2vw;
  }
  .latestWork-info ul li a {
    font-size: 3.2vw;
  }
}

/* BEATS SECTION
=========================== */
.beats {
  z-index: 1;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.flex-beats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.beats .content {
  width: 20%;
}

@media only screen and (max-width: 961px) {
  .flex-beats {
    flex-direction: column;
  }
  .beats .content {
    width: 100%;
    text-align: center;
  }
}

.beats .content h2 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  color: #13cb39;
  font-size: 1.5vw;
  margin-bottom: 8px;
}

.beats .content p {
  font-family: "Judson", serif;
  font-weight: lighter;
  font-style: italic;
  color: white;
  font-size: 1vw;
}

@media only screen and (max-width: 961px) {
  .beats .content h2 {
    font-size: 3.5vw;
  }
  .beats .content p {
    font-size: 2vw;
  }
}

.last_beats {
  width: 80%;
  padding: 16px;
  box-sizing: border-box;
}

@media only screen and (max-width: 961px) {
  .last_beats {
    width: 100%;
    padding: 0;
    margin-top: 16px;
  }
}

.main-carousel-beats {
  display: block;
  padding: 8px 0;
  box-sizing: border-box;
  width: 100%;
  height: auto !important;
}

.carousel-cell-beats {
  width: 48%; /* full width */
  margin-right: 4%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 721px) {
  .carousel-cell-beats {
    width: 49%; /* full width */
  }
}
@media only screen and (max-width: 481px) {
  .carousel-cell-beats {
    width: 80%; /* full width */
    margin-right: 2%;
  }
}

.carousel-cell-beats picture img {
  width: 100%;
  height: auto;
  border-radius: 32px;
  filter: grayscale(100%);
  transition-duration: 2s;
}

.carousel-cell-beats:hover img {
  filter: grayscale(0);
}

.carousel-cell-beats h3 {
  font-family: "Judson", serif;
  font-weight: normal;
  font-style: italic;
  color: white;
  font-size: 1vw;
}

.beatstars {
  width: 100%;
}

/* flickity
=========================== */
/* white circles */
.flickity-page-dots .dot {
  width: 14px !important;
  height: 14px !important;
  background: #13cb39 !important;
}

/* GO TO TOP
=========================== */
.gototop {
  position: absolute;
  bottom: 16px;
  right: 16px;
  opacity: 0.7;
}

.gototop:hover {
  opacity: 1;
}

.gototop a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #13cb39;
  color: black;
  padding: 8px 16px;
  border-radius: 50%;
}

.gototop a i span {
  font-size: 1vw;
}

.gototop a em {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  font-size: 0.5vw;
}

.gototop a:hover {
  background-color: white !important;
  color: black;
}

@media only screen and (max-width: 961px) {
  .gototop a i span {
    font-size: 1.4vw;
  }
  .gototop a em {
    font-size: 1vw;
  }
}
@media only screen and (max-width: 721px) {
  .gototop a i span {
    font-size: 1.6vw;
  }
  .gototop a em {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 481px) {
  .gototop a {
  }
  .gototop a i span {
    font-size: 3vw;
  }
  .gototop a em {
    font-size: 2vw;
  }
}
